.articleTitle {
  font-size: 40;
  text-align: center;
  font-weight: bold;
}

.articleChapter {
  font-size: 30;
}

.articleChapterBox {
  margin-top: 2%;
  margin-bottom: 1%;
  border-bottom-width: 1;
  border-color: "#AAAAAA";
}

.articleImage {
  border-radius: 8px;
  margin-bottom: 16px;
  width: 40vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.articleImageBox {
  text-align: center;
  display: flex;
  gap: 1%;
  max-width: 100vh;
}

.articleText {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 16px;
}